[Desktop Entry]
Version=1.0
Name=Chromium
Exec=/usr/local/bin/chromium %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;
